.nav-container {
  width: 95%;
  height: 55px;
  position: absolute;
  margin: 35px auto;
  left: 0;
  right: 0;

  nav {
    display: flex;
    justify-content: space-between;

    .links {
      width: 50%;
      display: flex;
      justify-content: space-evenly;
      align-items: center;

      a {
        width: fit-content;
        text-decoration: none;
        color: black;
        font-family: caveat;
        font-size: 25pt;
      }

      .log-button {
        width: 158px;
        height: 55px;
        background-color: $jc-yellow;
        font-family: caveat;
        font-size: 25pt;
        border: none;
        border-radius: 26px;
        display: flex;
        justify-content: center;
        align-items: center;
        box-shadow: 5px 10px 20px;
      }
    }
  }
}

.displayEle {
  display: block !important;
}

.hideEle {
  display: none !important;
  position: relative;
  top: -100;
}
