@font-face {
  font-family: caveat;
  src: url(../css/fonts/Caveat-Regular.ttf);
}

@font-face {
  font-family: caveat-bold;
  src: url(../css/fonts/Caveat-Bold.ttf);
}

@font-face {
  font-family: gillsans;
  src: url(../css/fonts/GillSans.ttf);
}

@font-face {
  font-family: gillsans-light;
  src: url(../css/fonts/GillSans-Light.ttf);
}

@font-face {
  font-family: gillsans-italic;
  src: url(../css/fonts/GillSans\ Italic.ttf);
}

@font-face {
  font-family: lato;
  src: url(../css/fonts/Lato-Regular.ttf);
}

@font-face {
  font-family: lato-bold;
  src: url(../css/fonts/Lato-Bold.ttf);
}

@font-face {
  font-family: lato-italic;
  src: url(../css/fonts/Lato-Italic.ttf);
}

@font-face {
  font-family: lato-boldItalic;
  src: url(../css/fonts/Lato-BoldItalic.ttf);
}

$jc-green: #a7e8bd;
$jc-light-pink: #fcbcb8;
$jc-dark-pink: #efa7a7;
$jc-yellow: #ffd972;
$jc-red: #f25c54;
$jc-red-background: #f25c5475;
$jc-green-background: #a7e8bd75;

@media screen and (max-width: 1600px) {
  .links {
    width: 50% !important;
  }
}

@media screen and (max-width: 1500px) {
  .links {
    width: 55% !important;
  }
}

@media screen and (max-width: 1400px) {
  .links {
    width: 60% !important;
  }
}

@media screen and (max-width: 1300px) {
  .footer-container {
    font-size: 12pt !important;
  }
}

@media screen and (max-width: 1200px) {
  .links {
    width: 65% !important;
  }
}

@media screen and (max-width: 1100px) {
  .links {
    width: 70% !important;
  }

  .footer-links {
    a {
      font-size: 10pt !important;
    }
  }
}

@media screen and (max-width: 1100px) {
  .links {
    width: 75% !important;
  }
}

@media screen and (max-width: 1100px) {
  a,
  .log-button {
    font-size: 22pt !important;
  }

  .log-button {
    width: 125px !important;
  }
}

@media screen and (max-width: 1800px) {
  .gallery-container {
    justify-content: center !important;
    align-items: center !important;
  }

  .gallery-view {
    justify-content: center !important;
    align-items: center !important;
  }
}

@media screen and (max-width: 950px) {
  .recipe-entry {
    flex-direction: column;
    align-items: center;
    margin-bottom: 100px;

    .recipe-image {
      img {
        width: 300px !important;
        height: 150px !important;
      }
    }

    .recipe-text {
      width: 300px !important;
      height: fit-content !important;
    }

    .recipe-name {
      margin-bottom: 20px;
    }
  }

  .gallery-view {
    justify-content: center !important;
    align-items: center !important;
  }

  .button-container {
    margin: 0 auto;
  }
}

@media screen and (max-width: 1000px) {
  .login-signup {
    flex-direction: column;
  }

  .log-in {
    margin: 100px 0px;
  }

  .sign-up {
    margin-bottom: 100px;
  }

  .card-desc {
    flex-direction: column;
    position: relative;
    top: 250px;
    margin-bottom: 450px;
  }
}
